/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;800&family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
 /* carousel section css  */
#img-carousel img{
    height: 750px;
    
}
.custom-card{
    border-radius: 30px;
}
.card-hot{
    position: absolute;
    right:30px;
    top: 0%;
    margin-top: -14px;
    z-index: 4;
    color: white;
    font-weight:bold;
    background-color: red;
    padding: 3px 10px;
    border-radius: 20%;
}